<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>

<body>
<!-- Render the REST response here -->
<div id="rest-response-container" class="row">
    <div class="box col-md-10 col-md-offset-1">
        <div class="okta-header">
            <img width="300px" src="/images/OktaLogo.png"/>
        </div>

        <h3 th:inline="text">Hello, <span sec:authentication="principal">Bob</span></h3>

        <h4 sec:authorize="hasAuthority('users')">You are in the users group</h4>
        <h4 sec:authorize="hasAuthority('admins')">You are in the admins group</h4>

        <a href="/authenticated" class="btn btn-success">Back</a>
    </div>
</div>
</body>
</html>
